QPushButton#btn_connect {
               background-color: #4CAF50;
               color: white;
               font-size: 18px;
               border-radius: 5px;
               padding: 8px;
               width: 150px;
               margin-top: 15px;
           }
           #btn_connect:hover {
               background-color: #45a049;
           }
         		
			#btn_connect:pressed {
               
	background-color: rgb(57, 132, 60);
           }